.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}
.category{
    width: 15%;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding-top: 15%;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
}
.category-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: color 0.3s;
    color: #ffffff;
  }
  .category:hover {
    background-color: var(--accent-light-color);
  }
  .category:hover .category-content {
    color: var(--primary-color);
  }
  .category-icon{
    margin: 10px 0 -10px 0;
  }
