
nav{
    display: flex;
    align-items: center;
    background-color:var(--primary-color);  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}
.brand{
    display: flex;
    color: var(--primary-color);
    letter-spacing: 0.1cap;
    margin-right: 20px;
    font-family: 'Varela Round', sans-serif;

}
.brand>h3{
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: 0 3px;
}
ul{
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content:center;
    flex-grow: 1;
}

ul a{
    margin: 0 15px;
    color: #ffffff;
    transition: border-bottom 0.3s, color 0.3s;
}
nav ul a:hover,nav ul a.active{
    color: var(--accent-light-color);
    border-bottom: 3px solid var(--accent-light-color);
    padding-bottom: 3px;
}

.search-container {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 25px; 
    margin-right: 20px;
}

.search-input {
    width: 100%;
    font-size: 16px; 
    outline: none; 
    background-color: transparent;
    border: none;
    color: var(--primary-color);

}
.search-icon{
    color: var(--primary-color);
    cursor: pointer;
}
.search-container:focus-within {
    border-color: var(--accent-color); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.icons{
    display: flex;
    align-items: center;
}
.icon{
    color: #ffffff;
    margin: 0 10px;
    cursor: pointer;
}
.icon:hover{
    color: #e4e4e4;
}
