:root {
  
  --primary-color: #225f6a;
  --secondary-color: #90e0bb;
  --accent-color: #ff9833;
  --accent-light-color: #fdd788;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: none;

}

button {
  background-color:var(--accent-color);
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-light-color);
  color: var(--primary-color) ;
}
.container{
  width: 95%;
  margin:auto;
}


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */



